@import "./text.css";
@import "./image-words.css";

html, body, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.standard-width {
  width: 100%;
}

nav {
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

nav li {
  display: inline-block;
  text-align: center;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 10px;
}

.content {
  padding-top: 43px;
}

.content ul {
  padding-left: 20px;
}

/*HOME/TED link in nav bar*/
.text-white.background-orange:hover {
  color: yellow;
}

.medium-wide-screen {
  display: none;
  position: relative;
}

.contact {
  display: inline-block;
  padding-bottom: 25px;
  padding-right: 25px;
}

.content.standard-width:last-of-type {
  padding-bottom: 150px;
}

.wide-only {
  display: none;
}

/*this query is for the underwater sea photo*/
@media (min-width: 641px) {
  .medium-wide-screen {
    display: block;
  }
}

@media (min-width: 800px) {
  .wide-screen {
    display: block;
  }

  .standard-width {
    max-width: 800px;
    margin: 0px auto;
  }
}