html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

.navbar {
  position: absolute;
	width: 100%;
  min-width: 800px;
  height: 50px;
  background-color: #660099;
  /*debug*/
/*  border: 1px;
  border-style: solid;*/
}

.nav-center {
  position: relative;
  width: 800px;
  height: 50px;
  margin: 0px auto;
  /*debug*/
/*  border: 1px;
  border-style: solid;*/
}

.nav-el {
  display: inline-block;
  height: 30px;
  margin-top: 10px;
  font-size: 1.75em;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: bold;
  color: #FFFFFF;
  /*debug*/
/*  border: 1px;
  border-style: solid;
  border-color: red;*/
}

#nav-1 { margin-left: 40px; }
#nav-2 { margin-left: 90px; }
#nav-3 { margin-left: 90px; }
#nav-4 { margin-left: 90px; }

.div-main {
  position: absolute;
  top: 50px;
  width: 100%;
  /*debug*/
/*  border-style: dashed;
  border-width: 3px;*/
}

#div-home {
  position: relative;
  width: 90%;
  top: 200px;
  margin: 0px auto;
  text-align: center;
  font-size: 3em;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  /*debug*/
/*  border-style: solid;
  border-width: 1px;*/
}