html, body, ul, li, div, p, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#navbar {
  /*border: 1px dashed black;*/
  width: 900px;
  margin: 0px auto;
}
#navbar > ul {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px;
}
#navbar > ul > li {
  display: inline-block;
  text-align: center;
}
a {
  display: block;
  padding: 4px 0px;
  text-decoration: none;
}
#home-link {
  color: white;
  background-color: #fc4c02;
}
.non-home-link {
  color: #fc4c02;
}
#home-link:hover {
  color: yellow;
}
.non-home-link:hover {
  color: yellow;
}
#home-link {
  width: 55px;
}
#blank-link {
  width: 484px;
}
#about-link {
  width: 95px;
}
#portfolio-link {
  width: 140px;
}
#contact-link {
  width: 126px;
}
.content {
  display: none;
}
#blank-space {
  width: 900px;
  height: 25px;
}
#home {
  width: 900px;
  height: 600px;
  margin: 0px auto;
  position: relative;
}
#name {
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 70px;
  font-weight: bold;
  -webkit-animation: nameFadeIn 4s;
  -moz-animation: nameFadeIn 4s;
}
@-webkit-keyframes nameFadeIn {
  0% { opacity: 0; }
  /*25% { opacity: 0; }*/
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}
@-moz-keyframes nameFadeIn {
    0% { opacity: 0; }
  /*25% { opacity: 0; }*/
  50% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 1; }
}
#title {
  position: absolute;
  top: 250px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  -webkit-animation: titleFadeIn 4s;
  -moz-animation: titleFadeIn 4s;
}
@-webkit-keyframes titleFadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  /*50% { opacity: 0; }*/
  75% { opacity: 1; }
  100% { opacity: 1; }
}
@-moz-keyframes titleFadeIn {
  0% { opacity: 0;}
  25% { opacity: 0;}
  /*50% { opacity: 0; }*/
  75% { opacity: 1; }
  100% { opacity: 1; }
}
#location {
  position: absolute;
  top: 330px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  -webkit-animation: locFadeIn 4s;
  -moz-animation: locFadeIn 4s;
}
@-webkit-keyframes locFadeIn {
  0% { opacity: 0;}
  25% { opacity: 0; }
  50% { opacity: 0;}
  /*75% { opacity: 0; }*/
  100% { opacity: 1; }
}
@-moz-keyframes locFadeIn {
  0% { opacity: 0;}
  25% { opacity: 0; }
  50% { opacity: 0;}
  /*75% { opacity: 0; }*/
  100% { opacity: 1; }
}
#about {
  width: 900px;
  margin: 0px auto;
}
h2 {
  font-size: 30px;
  margin-bottom: 25px;
  color: #428bca;
}
#summary {
}
#summary-photo {
  background-image: url(images/github_avatar.png);
  border-radius: 20px;
  position: relative;
  width: 220px;
  height: 220px;
  display: inline-block;
}
#summary-words {
  position: relative;
  top: -60px;
  left: 25px;
  width: 645px;
  display: inline-block;
}
.details {
  width: 900px;
  margin: 50px auto;
}
#tech > ul > li {
  /*border: 1px solid black;*/
  display: inline-block;
  padding: 0px 20px;
}
.details > div {
  display: inline-block;
  padding-bottom: 10px;
}
#emp-1 {
  width: 500px;
}
#emp-2 {
  width: 200px;
}
#emp-3 {
  width: 200px;
}
#ed-1 {
  width: 500px;
}
#ed-2 {
  width: 110px;
}
#ed-3 {
  width: 290px;
}
.details > p {
  padding-bottom: 10px;
}
.details > ul {
  padding-left: 30px;
}
.details > ul > li {
  padding-bottom: 10px;
}
#portfolio {
  width: 900px;
  margin: 0px auto;
}
.project-icons {
  width: 220px;
  height: 165px;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 50px;
}
.header-links {
  border: 1px solid red;
  width: 220px;
}
.projects > a {
  display: inline-block;
  color: black;
  text-decoration: none;
}
#contact {
  width: 900px;
  margin: 0px auto;
}